include ../utils/mixins

doctype html
html(lang="en")
    head
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="../../scss/stylesheet.scss">
        <link href = "../../scss/fonts/futura-new/stylesheet.css" rel = "stylesheet" type = "text/css" />

    body
        block header
        main
            block slider
            block content
