extends ../layout/layout


block header
    section.header-main
        div.header-main__logo
            img(src="../../img/logo.png" width="79px" height="62px" alt="Логотип")
        div.header-main__nav
            nav
                ul.nav__ul
                    +list-item(link,"Личный кабинет")
                    +list-item(link,"О нас")
                    +list-item(link,"Новости и акции")
                    +list-item(link,"Контакты")
                    +list-item(link,"Блог")
        div.header-main__hometown
            img(src="../../img/loc-icon.svg" width="46px" height="46px")
            button.hometown-button Волгоград
block main-wrapper
    section.main-wrapper.inner-wrapper
        block slider
            div.slider-wrapper
                div.swiper.slider__swiper
                    div.swiper-wrapper
                        +slide-item("Айболит круглосуточная ветклиника","slide1.jpg")
                        +slide-item("Комфортные оборудованные стационары","slide2.jpg")
                        +slide-item("Новейшее европейское оборудование","slide3.jpg")
                        +slide-item("Собственная современная лаборатория","slide4.jpg")
                        +slide-item("Аптека и зоомагазин по доступным ценам","slide5.jpg")
                        +slide-item("Груминг салон и косметические товары","slide6.jpg")
                    div.swiper-pagination.slider__pagination


        block content
            p Какой-нибудь текст.
            div.service-item-wrapper
                +service-item(link,"Терапия","26","therapy.png")
                +service-item(link,"Хирургия","26","surgery.png")
                +service-item(link,"Неврология","26","neurology.png")
                +service-item(link,"Ортопедия","26","orthopedics.png")
                +service-item(link,"Дерматология","26","dermatology.png")
                +service-item(link,"Офтальмология","26","ophthalmology.png")
                +service-item(link,"Кардиология","26","cardiology.png")
                +service-item(link,"Стоматология","26","dentistry.png")
                +service-item(link,"Репродуктология","26","reproduction.png")
                +service-item(link,"Визуальная диагностика","26","visual diagnostics.png")
                +service-item(link,"Лаборатория","26","lab.png")
                +service-item(link,"Онкология","26","oncology.png")
                +service-item(link,"Эндокринология","26","endocr.png")
                +service-item(link,"Экзотические животные","26","exotic.png")
                +service-item(link,"Аптека","26","pharmacy.png")
                +service-item(link,"Груминг","26","grooming.png")
