@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.main__wrapper {
  max-width: 1920px;
  width: 100%;
}

@import "components/header";
@import "components/main-slider";
@import "components/services";
@import "components/about-us";
@import "components/record";
@import "components/advantages";
@import "components/app";
@import "components/map";
@import "components/footer";


