@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}

.main__wrapper {
  max-width: 1920px;
  width: 100%;
}
body {
  margin: 0 auto;
}

@import "../blocks/components/header/header";
@import "../blocks/components/main-slider/main-slider";
@import "../blocks/components/services/services";
@import "../blocks/components/about-us/about-us";
@import "../blocks/components/record/record";
@import "../blocks/components/advantages/advantages";
@import "../blocks/components/app/app";
@import "../blocks/components/map/map";
@import "../blocks/components/footer/footer";


