block record
    section.record
        div.record__wrapper
            div.record__content
                p.record__number 1 150 000
                p.record__text  питомцам мы помогли за 18 лет работы
            img(src="../../img/image-bird.png" alt="Попугай").record__img