block main-wrapper
    section.main-wrapper.inner-wrapper
        block slider
            div.slider-wrapper
                section.swiper.slider__swiper
                    div.swiper-wrapper
                        +slide-item("Айболит круглосуточная ветклиника","slide1.jpg")
                        +slide-item("Комфортные оборудованные стационары","slide2.jpg")
                        +slide-item("Новейшее европейское оборудование","slide3.jpg")
                        +slide-item("Собственная современная лаборатория","slide4.jpg")
                        +slide-item("Аптека и зоомагазин по доступным ценам","slide5.jpg")
                        +slide-item("Груминг салон и косметические товары","slide6.jpg")
                    div.swiper-pagination.slider__pagination