mixin service-item(link,title,count,img)
    -link = link || "#"
    a.service-item(href= link)
        .service-item__text
            h3.service-item__title=title
            p.service-item__count=count + " услуг"
        .service-item__img
            img(src="../../img/"+img width="110px" height="110px")
mixin list-item(link,text)
    -link = link || "#"
    a.list-item(href= link)
        li.list-item__text=text

