block content
    section.service-item-wrapper
        +service-item(link,"Терапия","26","therapy.png")
        +service-item(link,"Хирургия","26","surgery.png")
        +service-item(link,"Неврология","26","neurology.png")
        +service-item(link,"Ортопедия","26","orthopedics.png")
        +service-item(link,"Дерматология","26","dermatology.png")
        +service-item(link,"Офтальмология","26","ophthalmology.png")
        +service-item(link,"Кардиология","26","cardiology.png")
        +service-item(link,"Стоматология","26","dentistry.png")
        +service-item(link,"Репродуктология","26","reproduction.png")
        +service-item(link,"Визуальная диагностика","26","visual diagnostics.png")
        +service-item(link,"Лаборатория","26","lab.png")
        +service-item(link,"Онкология","26","oncology.png")
        +service-item(link,"Эндокринология","26","endocr.png")
        +service-item(link,"Экзотические животные","26","exotic.png")
        +service-item(link,"Аптека","26","pharmacy.png")
        +service-item(link,"Груминг","26","grooming.png")