block advantages
    section.advantages
        div.advantages__wrapper
            h2.advantages__title Почему хозяева выбирают нас?
            div.advantages__content
                +advantage-item("Работаем круглосуточно","advantage-1.png", "Мы готовы в любое время суток принять домашних питомцев и их хозяев")
                +advantage-item("Широкий спектр услуг","advantage-2.png","Кроме широкопрофильных докторов  в клинике развиты узкие направления в ветеринарии – офтальмология, стоматология, дерматология, травматология, ортопедия и онкология")
                +advantage-item("Большой опыт","advantage-3.png","30 высококвалифицированных врачей нашей клиники предоставляют ветеринарную помощь уже на протяжении 18 лет!")
                +advantage-item("Собственная лаборатория","advantage-4.png","Оборудованная профессиональным оснащением производства компании IDEXX International Inc.(США), которое позволяет получить результаты исследования прямо на приеме")
                +advantage-item("Оснащённые стационары","advantage-5.png","Обычный и инфекционный стационар с индивидуальным подогревом каждой клетки. Для питомцев в критическом состоянии предусмотрены кислородные камеры")
                +advantage-item("Новейшее оборудование","advantage-6.png","Помимо лабораторного оборудования и цифрового рентгена в клинике используется современный эндоскоп KARL STORZ")
                +advantage-item("Запись на приём онлайн","advantage-6.png","Запись на приём позволяет избежать ожиданий в очереди, но если вы не можете приехать - мы выезжаем на дом!")
                +advantage-item("Аптека и зоомагазин","advantage-8.png","Для удобства в клинике предусмотрен аптечный пункт, а также бутик с одеждой и косметическими средствами для ухода за домашними любимцами")
                +advantage-item("Груминг-салон","advantage-9.png","Отдельный кабинет для проведения гигиенческих и косметических процедур, таких как мытьё и сушка, стрижка или тримминг, уход за ушами, глазами и когтями и многое другое")

