block app
    section.app
        div.app__wrapper
            div.app__content
                p.soon cкоро
                p.app__text Удобное приложение для питомцев и их хозяев
                a(href="").app__link
                    img(src="../../img/app-store-badge.png" alt="Аппстор" width="167px" height="49px")
                a(href="").app__link-2
                    img(src="../../img/google-play-badge.png" alt="Гуглплей" width="189" height="73")
            img.app__img-1(src="../../img/dog.png" alt="Собака" width="474px" height="534px")
            img.app__img-2(src="../../img/example-mobile.png" alt="Пример мобильного приложения" width="425px" height="760px")