.header-main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1920px;
  padding: 100px 0 0 80px;
  margin-bottom: 155px;
}

.header-main__hometown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-top: 5px;
  padding-right: 15px;
}
.hometown-button {
  border: 0;
  line-height: 20px;
  font-family: "Futura New", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: #FFC59E;
  text-transform: uppercase;
  background-color: white;



  &:active {
    cursor: pointer;
    color: #FF9846;
  }

  &:hover {
    cursor: pointer;
    color: #FF9846;
  }
}
.header-main__logo {
  margin-right: 205px;
}
.header-main__nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;

}

.list-item__text {
  font-family: "Futura New", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;

}
a.list-item {
  text-decoration: none;
  color:#C3B9B5;
}
.nav__ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
}

