.header-main__hometown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hometown-button {
  border: 0;
  line-height: 20px;
  font-family: "Futura New", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: #FFC59E;
  text-transform: uppercase;
  background-color: white;


  &:active {
    cursor: pointer;
    color: #FF9846;
  }

  &:hover {
    cursor: pointer;
    color: #FF9846;
  }
}